body{
    font-family: 'Montserrat';
    font-style: normal;
    min-width: 1200px;
}
/* first page*/
.first-page{
    background-image: url(../img/SectionsBackground/section-1.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 1012px;
    padding-top: 5px;
}

.header-first-page{
    height: 120px;
    background: rgba(94, 93, 88, 0.6);
}

a {
    text-decoration: none;
    color: unset;
}

button{
    border-width:0px;
    cursor: pointer;
}

.header-first-page-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20%;
    box-sizing: border-box;
}


.color{
    color: #18CFAB;
}

.header-first-page-menu{
    display: flex;
    gap: 21px;
    color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}


.header-menu-item:hover{
    color: #18CFAB;
}

.first-page-content{
    margin-top: 264px ;
    color: #FFFFFF;
    font-weight: 700;
    text-align: center;
}

.first-page-sub-title{
    font-size: 35px;
    text-transform: uppercase;
    line-height: 35px;
}

.first-page-title{
    font-size: 78px;
    text-transform: uppercase;
    margin: 22px 0;
    line-height: 80px;
}

.first-page-text{
    color: #D4D4D4; 
    font-weight: 400;
    font-size: 34px;
    line-height: 34px;
}

.first-page-button{
    display: flex;
    margin-top: 130px;
    gap: 26px;
    justify-content: center;
}

.explore-now-button{
    color: #fff;
    background: #18CFAB;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    width: 168px;
    height: 63px; 
}

.purchase-button{
    color: #fff;
    background: #00CBF6;;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    width: 168px;
    height: 63px;
}

/* menu*/
.second-page-menu-content{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    height: 377px;
    text-transform: uppercase;
}

.second-page-menu-first-item{
    background: #1C2A33;
    color:#18CFAB;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    gap: 47px;
}

.second-page-menu-second-item{
    background: #18CFAB;
    color: #fff;;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    gap: 58px;
}

/* our services*/
.second-page-service{
    height: 550px;
    padding-top: 82px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction:column;
    position: relative;
}

.second-page-service-title{
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    margin-bottom: 26px;
}

.second-page-service-menu{
    margin-top: 69px;
    width: 1152px;
}


.second-page-service-menu-content{

    height: 76px;
    display: grid;
    grid-template-columns: repeat(6,1fr);

}

.second-page-service-menu-item{
    display: flex;
    background: #F8FCFE;
    border: 1.5px solid #EDEFEF;
    font-weight: 400;
    font-size: 15.9859px;
    line-height: 39px;
    color: #717171;
    align-items: center;
    justify-content: center;
    position: relative;
}

.second-page-service-menu-item:hover{
    border: 1.5px solid #18CFAB;
    cursor: pointer;
}

.second-page-service-menu-item.active{
    background: #18CFAB;
    color: #fff;
}

.second-page-service-menu-item.active::after{
    position: absolute;
    top: 100%;
    content: '';
    width: 0;
    height: 0;
    border: 0 solid transparent;
    left: 50%;
    transform: translate(-50%, 0);
    border-left-width: 13px;
    border-right-width: 13px;
    border-top: 13px solid #18CFAB;
} 



.second-page-service-opinion{
    display: flex;
    margin-top: 23px;
    justify-content: center;
    gap: 15px;
    width: 1152px;
    opacity: 0;
    position: absolute;
}

.second-page-service-opinion.active{
    opacity: 1;

}

.second-page-service-opinion-img{
    width: 192px;
    height: 139px;
}

.second-page-service-opinion-text{
    font-weight: 300;
    font-size: 13.645px;
    line-height: 24px;
    color: #777777
}
/* buy list*/

.second-page-purchase{
    height: 476px;
    background-image: url(../img/SectionsBackground/section-2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.second-page-purchase-background{
    background-color: rgba(12, 12, 12, 0.8);
    height: 476px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding-top: 126px;
}

.second-page-purchase-title{
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: #18CFAB;
}

.second-page-purchase-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
    margin: 12px 0 62px;
}

.second-page-purchase-button{
    color: #fff;
    background: #18CFAB;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    width: 168px;
    height: 63px;
}


/* our Work*/

.our-work{
    background: #E9EDEF;
    box-sizing: border-box;
    padding-top: 96px;
    padding-bottom: 100px;
}

.our-work-content{
    display: flex;
    flex-direction: column;
    align-items: center;

}


.our-work-title{
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 24px;
    color: #4E4E4E;
}



.our-work-list{
    display: flex;
    height: 58px;
    margin-top: 69px;
}

.our-work-list-item{
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #DADADA;
    font-weight: 400;
    font-size: 14px;
    line-height: 42px;
    color: #717171;
    padding: 15px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.our-work-list-item.active-item{
    border: 2px solid #18CFAB;
    color: #18CFAB;
}

.our-work-img-content{
    margin: 70px 20%;
}

.our-work-img-list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.our-work-img-item{
    width: 285px;
    height: 211px;
    background-repeat: no-repeat;
}


.webDesign1{
    background-image: url(../img/ourWork/webDesign/web-design1.jpg);

}

.webDesign2{
    background-image: url(../img/ourWork/webDesign/web-design2.jpg);
}

.webDesign3{
    background-image: url(../img/ourWork/webDesign/web-design3.jpg);
}

.webDesign4{
    background-image: url(../img/ourWork/webDesign/web-design4.jpg);
}

.webDesign5{
    background-image: url(../img/ourWork/webDesign/web-design5.jpg);
}

.webDesign6{
    background-image: url(../img/ourWork/webDesign/web-design6.jpg);
}

.webDesign7{
    background-image: url(../img/ourWork/webDesign/web-design7.jpg);
}

.graphicDesign1{
    background-image: url(../img/ourWork/graphicDesign/graphic-design1.jpg);
}

.graphicDesign2{
    background-image: url(../img/ourWork/graphicDesign/graphic-design2.jpg);
}

.graphicDesign3{
    background-image: url(../img/ourWork/graphicDesign/graphic-design3.jpg);
}

.graphicDesign4{
    background-image: url(../img/ourWork/graphicDesign/graphic-design4.jpg);
}

.graphicDesign5{
    background-image: url(../img/ourWork/graphicDesign/graphic-design5.jpg);
}

.graphicDesign6{
    background-image: url(../img/ourWork/graphicDesign/graphic-design6.jpg);
}

.graphicDesign7{
    background-image: url(../img/ourWork/graphicDesign/graphic-design7.jpg);
}

.graphicDesign8{
    background-image: url(../img/ourWork/graphicDesign/graphic-design8.jpg);
}

.graphicDesign9{
    background-image: url(../img/ourWork/graphicDesign/graphic-design9.jpg);
}

.graphicDesign10{
    background-image: url(../img/ourWork/graphicDesign/graphic-design10.jpg);
}

.graphicDesign11{
    background-image: url(../img/ourWork/graphicDesign/graphic-design11.jpg);
}

.graphicDesign12{
    background-image: url(../img/ourWork/graphicDesign/graphic-design12.jpg);
}

.landingPage1{
    background-image: url(../img/ourWork/landingPage/landing-page1.jpg);
}

.landingPage2{
    background-image: url(../img/ourWork/landingPage/landing-page2.jpg);
}

.landingPage3{
    background-image: url(../img/ourWork/landingPage/landing-page3.jpg);
}

.landingPage4{
    background-image: url(../img/ourWork/landingPage/landing-page4.jpg);
}

.landingPage5{
    background-image: url(../img/ourWork/landingPage/landing-page5.jpg);
}

.landingPage6{
    background-image: url(../img/ourWork/landingPage/landing-page6.jpg);
}

.landingPage7{
    background-image: url(../img/ourWork/landingPage/landing-page7.jpg);
}

.wordpress1{
    background-image: url(../img/ourWork/wordpress/wordpress1.jpg);
}

.wordpress2{
    background-image: url(../img/ourWork/wordpress/wordpress2.jpg);
}

.wordpress3{
    background-image: url(../img/ourWork/wordpress/wordpress3.jpg);
}

.wordpress4{
    background-image: url(../img/ourWork/wordpress/wordpress4.jpg);
}

.wordpress5{
    background-image: url(../img/ourWork/wordpress/wordpress5.jpg);
}

.wordpress6{
    background-image: url(../img/ourWork/wordpress/wordpress6.jpg);
}

.wordpress1{
    background-image: url(../img/ourWork/wordpress/wordpress1.jpg);
}

.wordpress7{
    background-image: url(../img/ourWork/wordpress/wordpress7.jpg);
}

.wordpress8{
    background-image: url(../img/ourWork/wordpress/wordpress8.jpg);
}

.wordpress9{
    background-image: url(../img/ourWork/wordpress/wordpress9.jpg);
}

.wordpress10{
    background-image: url(../img/ourWork/wordpress/wordpress10.jpg);
}

.our-work-load-button{
    color: #fff;
    background: #18CFAB;
    width: 168px;
    height: 63px;
    font-weight: 700;
    font-size: 14px;
    line-height: 42px;
}
/* News*/

.breaking-news-content{
    display: flex;
    flex-direction: column;
    margin: 82px auto 128px;
    align-items: center;
}

.breaking-news-title{
    color: #4E4E4E;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 24px;
}

.breaking-news-main-part{
    margin-top: 69px;
}

.breaking-news-main-part-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 35px;
    row-gap: 44px;
}

.breaking-news-main-list-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.breaking-news-main-part-item-img{
    width: 263px;
    height: 208px;
}

.breaking-news-main-part-item-img.first-new{
    background-image: url(../img/news/1-news.jpg);
}

.breaking-news-main-part-item-img.second-new{
    background-image: url(../img/news/2-news.jpg);
}

.breaking-news-main-part-item-img.third-new{
    background-image: url(../img/news/3-news.jpg);
}

.breaking-news-main-part-item-img.fourth-new{
    background-image: url(../img/news/4-news.jpg);
}

.breaking-news-main-part-item-img.fifth-new{
    background-image: url(../img/news/5-news.jpg);
}

.breaking-news-main-part-item-img.sixth-new{
    background-image: url(../img/news/6-news.jpg);
}

.breaking-news-main-part-item-img.seventh-new{
    background-image: url(../img/news/7-news.jpg);
}

.breaking-news-main-part-item-img.eighth-new{
    background-image: url(../img/news/8-news.jpg);
}


.breaking-news-main-part-date{
    width: 70px;
    height: 68px;
    background-color: #203E38;
    position: relative;
    left: 193px;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



.breaking-news-text{
    display: flex;
    align-items: center;
    gap: 16px;
}

.breaking-news-main-list-item:hover{
    cursor: pointer;
}

.breaking-news-main-list-item:hover .breaking-news-main-part-date{
    background-color: #18CFAB;
}

.breaking-news-main-list-item:hover .breaking-news-name-news{
    color: #18CFAB;
}

/* Coments*/

/* gallery of best image*/

/* footer*/
.footer{
    height: 121px;
    background: #22353F;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #AEAEAE;
    justify-content: center;
    }